//Text align
$simple-directions: left right center;
//Align Items, Align Self
$flex-dirs-1: stretch flex-start center flex-end;
//Justify Items, Justify Content, Justify Self
$flex-dirs-2: stretch flex-start center flex-end space-between space-around;

//***Future User Options***
$basis-percents: 10 20 25 30 33 40 50 60 66 70 75 80 90 100;
$responsive-images: true;
$container-width: 1200px;
$mobile-first: false;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/**Helpers*/
.fixed {
  position: fixed;
  width: 100%;
}

.fixed-top {
  @extend .fixed;
  top: 0;
}

.fixed-bottom {
 @extend .fixed;
  bottom: 0;
}

.hide {
  display: none;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

//End Helpers

//(Non)Responsive Images
@if ($responsive-images) {
  img {
    max-width: 100%;
  }
  .img-static {
    max-width: none;
  }
} @else {
  .img-responsive {
    max-width: 100%;
  }
}

//Text Alignment
@each $dir in $simple-directions {
  .text-#{$dir} {
    text-align: $dir;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Flex Declarations*/
.flex-row, .flex-col, .flex-row-rev, .flex-col-rev {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.flex-row.stretch, .flex-col.stretch {
  height: 100%;
  width: 100%;
}

.no-wrap {
  flex-wrap: nowrap;
}

.flex-row {
  flex-direction: row;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-rev {
  flex-direction: column-reverse;
}

/*Flex Alignment*/
@each $dir in $flex-dirs-1 {
  [align-items="#{$dir}"] {
    align-items: $dir;
  }
  [align-self="#{$dir}"] {
    align-self: $dir;
  }
  [justify-self="#{$dir}"] {
    justify-self: $dir;
  }
}

@each $dir in $flex-dirs-2 {
  [align-content="#{$dir}"] {
    align-content: $dir;
  }
  [justify-content="#{$dir}"] {
    justify-content: $dir;
  }
}

/*Flex Grow*/
.flex {
  flex-grow: 1 !important;
}

@each $percent in $basis-percents {
  .flex-#{$percent} {
    flex: 0 0 percentage($percent/100);
  }
}

/* Large desktop */
@media screen and (min-width: 1200px) {
  @each $percent in $basis-percents {
    .flex-lg-#{$percent} {
      flex: 0 0 percentage($percent/100) !important;
    }
  }
  .flex-lg {
    flex-grow: 1 !important;
  }
  .hide-lg {
    display: none;
  }

  .show-lg {
    display: inherit;
  }
}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  @each $percent in $basis-percents {
    .flex-md-#{$percent} {
      flex: 0 0 percentage($percent/100) !important;
    }
  }
  .flex-md {
    flex-grow: 1 !important;
  }
  .hide-md {
    display: none;
  }

  .show-md {
    display: inherit;
  }
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
  @each $percent in $basis-percents {
    .flex-sm-#{$percent} {
      flex: 0 0 percentage($percent/100) !important;
    }
  }
  .flex-sm {
    flex-grow: 1 !important;
  }
  .hide-sm {
    display: none;
  }

  .show-sm {
    display: inherit;
  }
}

